<h1> Index handlebars </h1>

<h4> Add a new item </h4>

<form action="/products" method=POST> 
<input type='text' name='productName' placeholder='productName'>
<input type='text' name='productDescription' placeholder='productDescription'>
<input type='text' name='productImage' placeholder='productImage'>
<button type='submit'> Submit </button>
</form>

<br> 

{{#each todos}}

Product Name:  {{this.productName}}
<br> 
Product Description: {{this.productDescription}}

<br> 
<img src="{{this.productImage}}" alt="Mountain View" style="width:150px;height:120px;">

<br> 

<button class = "deleteButton" name = "{{this.id}}" > Delete </button>
<br>



Edit
<form action="/edit/{{this.id}}" method=POST> 
<input type='text' name='productName' value='{{this.productName}}'>
<input type='text' name='productDescription' value='{{this.productDescription}}'>
<input type='text' name='productImage' value='{{this.productImage}}'>
<input type='text' name='id' value='{{this.id}}'>
<button type='submit'> Submit </button>
</form>

{{/each}}

<script>
var arr = [];

arr = document.getElementsByClassName("deleteButton");

for(var i = 0; i < arr.length; i ++) {
	arr[i].addEventListener("click", function(e) {
		var id  = e.target.name; 
		var xhr = new XMLHttpRequest();

		xhr.open('DELETE', '/delete/' + id);

		xhr.onreadystatechange = function() {
		    if (xhr.readyState === 4 && xhr.status < 400) {
		        location.reload(true);
		    }

		    if (xhr.readyState === 4 && xhr.status >= 400) {
		        console.error(xhr.status + ': ' + xhr.responseText);
		    }
		};

		xhr.send(null);
	});

}

</script>