<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<div id = "headerContent">
<h1 id = "headerText"> Generate the Pets Best Monthly Email </h1>
<h2> Add a product to your email for Pets Best </h2>
	<form action="/products" method=POST> 
	<input type='text' name='productName' placeholder='productName'>
	<input type='text' name='productDescription' placeholder='productDescription'>
	<input type='text' name='productImage' placeholder='productImage'>
	<button type='submit'> Submit </button>
	</form>
	<h2> Edit and delete </h2>
</div>

<div id = "outerFlex"> 
{{#each todos}}
	<div class="innerFlex">
		<p> Product Name:  {{this.productName}} </p>
		
		<p> Product Description: {{this.productDescription}} </p>
		
		<img class= "topImage" src="{{this.productImage}}" alt="Mountain View" style="width:150px;height:120px;">
		<br>
		
		<button class = "deleteButton" name = "{{this.id}}" > Delete </button>
		
		<p class = "editBread"> Click here to Edit <p>
		<form style = "display:none;" class = "editMeat" action="/edit/{{this.id}}" method=POST> 
			<input type='text' name='productName' value='{{this.productName}}'>
			<input type='text' name='productDescription' value='{{this.productDescription}}'>
			<input type='text' name='productImage' value='{{this.productImage}}'>
			<button type='submit'> Submit </button>
		</form>
	</div>
{{/each}}
</div>
<div id="emailDiv">

	<h1> A sample of your email is below </h1> 
	<div id = "emailSample"> 

			<table>
				<tr> 
					<th style="font-size: 35px;" class = "tableHeader" colspan="2"> Pets Best Monthly Box </th>
				</tr>
				<tr>
					<td style="font-size: 25px;" class = "tableHeader" colspan="2"> Your monthly box of canine goodies is on its way! </td>
				<tr> 
				{{#each todos}}
				<tr>
					<td class= "productName"colspan="2"> {{this.productName}} </td>
				</tr>
				<tr>
					<td>  <img class="emailImage" src="{{this.productImage}}" alt="image did not load" style="width:250px;height:170px;"> </td>
					<td> {{this.productDescription}} </td>
				</tr>
				{{/each}}
			</table>
	</div>
</div>
<h1 id = "getHTML"> Get the full html </h1>
<div class = "textArea textArea1"> 
	<textarea rows="10" cols="75">
	<!doctype html>
		<html>
			<head>
			  <title>Pets Best Monthly Email </title>
			  <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
			  <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
			  <link rel="stylesheet" type="text/css" href="main.css"> 
			</head>
			<body>
				<table>
					<tr> 
						<th style="font-size: 35px;" class = "tableHeader" colspan="2"> Pets Best Monthly Box </th>
					</tr>
					<tr>
						<td style="font-size: 25px;" class = "tableHeader" colspan="2"> Your monthly box of canine goodies is on its way! </td>
					<tr> 
					{{#each todos}}
					<tr>
						<td class= "productName"colspan="2"> {{this.productName}} </td>
					</tr>
					<tr>
						<td>  <img class="emailImage" src="{{this.productImage}}" alt="image did not load" style="width:250px;height:170px;"> </td>
						<td> {{this.productDescription}} </td>
					</tr>
					{{/each}}
				</table>
			</body>
		</html>
	</textarea>
</div>
<h1 id = "getStylesheet"> Get the style sheet </h1>
<div class = "textArea textArea2"> 
	<textarea rows="10" cols="75">

	th {
		font-family: 'Chewy', cursive;
		padding-top: 20px;
		font-size: 20px;

	}
	td {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		font-family: 'Chewy', cursive;
		padding-left: 20px;
		padding-right: 10px;
	}
	.tableHeader {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	.productName {
	color: #ff6f69;
	font-size: 20px;
	background-color: rgba(255, 111, 105, .3);
	}
	.tableHeader {
	background-color: #ffcc5c;
	}
	table {
	margin-left: auto;
	margin-right: auto;
	background-color: #ffeead;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-color: #ffcc5c;
	border-style: solid;
	border-collapse:collapse;
	}
	img {
	 margin-bottom: 10px;
	 margin-top: 10px;
	}
	</textarea>
</div>
<div id="footerDiv">
<p> Painstakingly brought into this world by Kaylee McHugh. </p> 
</div>

<script>

$(document).ready(function(){
    $(".editBread").click(function(){
        $(".editMeat").slideToggle("slow");
    });
});

$(document).ready(function(){
    $("#getHTML").click(function(){
        $(".textArea1").slideToggle("slow");
    });
});

$(document).ready(function(){
    $("#getStylesheet").click(function(){
        $(".textArea2").slideToggle("slow");
    });
});


var arr = [];

arr = document.getElementsByClassName("deleteButton");

for(var i = 0; i < arr.length; i ++) {
	arr[i].addEventListener("click", function(e) {
		var id  = e.target.name; 
		var xhr = new XMLHttpRequest();

		xhr.open('DELETE', '/delete/' + id);

		xhr.onreadystatechange = function() {
		    if (xhr.readyState === 4 && xhr.status < 400) {
		        location.reload(true);
		    }

		    if (xhr.readyState === 4 && xhr.status >= 400) {
		        console.error(xhr.status + ': ' + xhr.responseText);
		    }
		};

		xhr.send(null);
	});

}

</script>